EnableIPv6: no
WorkDir: /mypath/mrtg
#------------------------------------------------------#
Target[192.168.1.155.cpu]: `/mypath/bin/snmpcpuget.sh sample.com windows public`
MaxBytes[192.168.1.155.cpu]: 100
Options[192.168.1.155.cpu]: gauge,growright
YTicsFactor[192.168.1.155.cpu]: 1
Factor[192.168.1.155.cpu]: 1
Title[192.168.1.155.cpu]: CPU Load
YLegend[192.168.1.155.cpu]: CPU Load
#------------------------------------------------------#
Target[192.168.1.155.disk]: `/mypath/bin/snmpdiskget.sh sample.com windows public`
MaxBytes[192.168.1.155.disk]: 100
Options[192.168.1.155.disk]: gauge,growright
YTicsFactor[192.168.1.155.disk]: 1
Factor[192.168.1.155.disk]: 1
Title[192.168.1.155.disk]: Disk Usage
YLegend[192.168.1.155.disk]: Disk Usage
#------------------------------------------------------#
Target[192.168.1.155.ram]: `/mypath/bin/snmpramget.sh sample.com windows public`
MaxBytes[192.168.1.155.ram]: 100
Options[192.168.1.155.ram]: gauge,growright
YTicsFactor[192.168.1.155.ram]: 1
Factor[192.168.1.155.ram]: 1
Title[192.168.1.155.ram]: Memory Usage
YLegend[192.168.1.155.ram]: Memory Usage

