div {   height:30px;
        border-radius: 3%;
        background-color: green;  
    }
.bgstand {font-weight:vold font-size:small; color:#00FFFF; background-color:blue; }
.bgblack {font-weight:vold font-size:small; color:black; background-color:black; }
.bgbrown {font-weight:vold font-size:small; color:brown; background-color:brown; }
.bgindig {font-weight:vold font-size:small; color:indigo; background-color:indigo; }
.bgpurpl {font-weight:vold font-size:small; color:purple; background-color:purple; }
.bgdarks {font-weight:vold font-size:small; color:darkslategray; background-color:darkslategray; } 

.bgimage1{  
  background: url('../header/bgimage1.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage2{  
  background: url('../header/bgimage2.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage3{  
  background: url('../header/bgimage3.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage4{  
  background: url('../header/bgimage4.jpg');
  background-size: cover; 
  filter: blur(0); 
}
audio { width: 150px; }
/*
.iro1 {font-weight:bold ; color:black; background-color:yellow; }
.iro0 {font-weight:bold ; color:white; background-color:green; }
.iro2 {font-weight:bold ; color:white; background-color:red; }';

*/
