/*h4 { font-weight: lighter;}*/
div {
  color: #006DD9;
  border-radius: 3%;
  background-color: #BBBBBB;}
div.header a{
  border-top: dotted 2px #666666;
  margin:0px 20px 4px 20px;
  padding:10px;
  font-size: 10px;
  text-decoration:none;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  border-bottom:1px solid #888;
  border-right:1px solid #888;
  background:url("../header/libg.gif") repeat 0px -1px #fff; }
.button{
  border-top: dotted 2px #666666;
  margin:2px 5px -15px 5px;
  padding:10px;
  font-size: 15px;
  text-decoration:none;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  border-bottom:1px solid #888;
  border-right:1px solid #888;
  border-radius: 12%; 
  background:url("../header/libg.gif") repeat 0px -1px #fff; }
.buttonhref{
  border-top: dotted 2px #666666;
  margin:-15px -15px -15px 8px; /* top right bottom left */
  padding:10px; 
  font-size: 12px;
  color: black;
  text-decoration:none;
  border-top:1px solid #ccc;
  border-bottom:1px solid #888;
  border-radius: 12%; 
  background:url("../header/libg.gif") ; /* sankaku */}

.buttonlogout{
  border-top: dotted 2px #666666;
  margin:-2px 5px -15px 17px;
  padding:10px;
  font-size: 15px;
  font-weight: bold;
  color: #006DD9;
  text-decoration:none;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  border-bottom:1px solid #888;
  border-right:1px solid #888;
  border-radius: 12%; 
  background:url("../header/libg.gif") repeat 0px -1px #fff; /* sankaku */}
.buttonalerm{
  border-top: dotted 2px #666666;
  margin:-2px 5px -15px 17px;
  padding:10px;
  font-size: 15px;
  font-weight: bold;
  color: #ff0000;
  text-decoration:none;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  border-bottom:1px solid #888;
  border-right:1px solid #888;
  border-radius: 12%; 
  background:url("../header/libg.gif") repeat 0px -1px #fff; /* sankaku */}
.bgstand {font-weight:vold font-size:small; color:#00FFFF; background-color:blue; }
.bgblack {font-weight:vold font-size:small; color:black; background-color:black; }
.bgbrown {font-weight:vold font-size:small; color:brown; background-color:brown; }
.bgindig {font-weight:vold font-size:small; color:indigo; background-color:indigo; }
.bgpurpl {font-weight:vold font-size:small; color:purple; background-color:purple; }
.bgdarks {font-weight:vold font-size:small; color:darkslategray; background-color:darkslategray; } 

.bgimage1{  
  background: url('../header/bgimage1.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage2{  
  background: url('../header/bgimage2.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage3{  
  background: url('../header/bgimage3.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage4{  
  background: url('../header/bgimage4.jpg');
  background-size: cover; 
  filter: blur(0); 
}
blink{animation:BLINK 0.5s ease-in-out infinite alternate;}@keyframes BLINK {0%{opacity:1.0;}100% {opacity:0;}}

.normalBg{ filter: blur(0;}
