
h1 { font-weight: bold; color: #3366ff; }
h2 { font-weight: bold; color: white; }
h3 { font-weight: bold; color: Gray; }
/* .wihi { width: 120; } */
/* td { font-size: small; color: #006DD9; border-radius: 12%; } */
td { font-size: small; border-radius: 12%; }
/* .back { background-color: #f4a460;} */
.host { font-size: 11px; font-weight: bold; color: white;} /*  2024/12/30 add color:white */
.white15 { font-size: 15px; font-weight: bold; color: white;}
.yellow15 { font-size: 15px; font-weight: bold; color: gray;}
.tablelayout { layout-fixed; }
.viewname { font-weight: bold; font-size: 15px; color: white; background-color: #3366ff; } /* 2024/12/30 add font-size */
.snmp { font-weight: bold; font-size: small; color: green; background-color: lightgray; }
.unknown { font-weight: bold; font-size: small; color: green; background-color: gray; }
.alarm { font-weight: bold; font-size: small; color: green; background-color: red;}
.normal {font-weight: bold; font-size: small; color: green; background-color: green; }
.snorm {font-weight:bold font-size:small; color:white; background-color:green; }
.swarn {font-weight:bold font-size:small; color:gray; background-color:yellow; }
.scrit {font-weight:bold font-size:small; color:white; background-color:red; }
.sunko {font-weight:bold font-size:small; color:lightgray; background-color:lightgray; }
.anorm {font-weight:bold font-size:small; color:white; background-color:green; }
.aprob {font-weight:bold font-size:small; color:gray; background-color:yellow; }
.aunko {font-weight:bold font-size:small; color:lightgray; background-color: white;}
/*
input.okcolor {background-color: green; color: white;}
input.ngcolor {background-color: red; color:white; }
*/

.okcolor {background-color: green; color: white;}
.wacolor {background-color: yellow; color:white; }
.ngcolor {background-color: red; color:white; }

.big{font-size:1.6em; font-weight:800; color:gray;}
.blink{animation:BLINK 0.5s ease-in-out infinite alternate;}@keyframes BLINK {0%{opacity:1.0;}100% {opacity:0;}}
.bgstand {font-weight:vold font-size:small; color:#00FFFF; background-color:blue; }
.bgblack {font-weight:vold font-size:small; color:black; background-color:black; }
.bgbrown {font-weight:vold font-size:small; color:brown; background-color:brown; }
.bgindig {font-weight:vold font-size:small; color:indigo; background-color:indigo; }
.bgpurpl {font-weight:vold font-size:small; color:purple; background-color:purple; }
.bgdarks {font-weight:vold font-size:small; color:darkslategray; background-color:darkslategray; } 
.bgimage1{  
  background: url('../header/bgimage1.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage2{  
  background: url('../header/bgimage2.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage3{  
  background: url('../header/bgimage3.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.bgimage4{  
  background: url('../header/bgimage4.jpg');
  background-size: cover; 
  filter: blur(0); 
}
.popupnorm { font-weight:vold; color:white; background-color:green; }
.popupwarn { font-weight:void; color:white; background-color:yellow; }
.popupcrit { font-weight:vold; color:white; background-color:red; }
