h1 { font-weight: bold; color: #3366ff; }
h2 { font-weight: bold; color: gray; }
th { font-size: 10px; color: #006DD9; border-radius: 10%;
        background-color: #f4a460; }
.button { font-size: small; color: white; border-radius: 15%; background-color: green; }
.buttondel { font-size: small; color: white; border-radius: 15%; background-color: red; }
.buttonyell { font-size: small; color: #006DD9; border-radius: 15%; background-color: yellow; font-weight: bold;}
.buttongray { font-size: small; color: white; border-radius: 15%; background-color: dimgray; font-weight: bold;}
.buttonwhite { font-size: small; color: black; border-radius: 15%; background-color: white; font-weight: bold;}
.buttonorang { font-size: small; color: black; border-radius: 15%; background-color: orange; font-weight: bold;}
.trred { font-size: small; color: white; border-radius: 15%; background-color: red; font-weight: bold;}
.trblk { font-size: small; color: white; border-radius: 15%; background-color: green; font-weight: bold;}
.trylw { font-size: small; color: black; border-rafius: 15%; background-color: yellow; font-weight: bold;}
.trgry { font-size: small; color: black; border-rafius: 15%; background-color: gray; font-weight: bold;}
.trpnk { font-size: small; color: black; border-rafius: 15%; background-color: pink; font-weight: bold;}
.bgstand {font-weight:vold font-size:small; color:#00FFFF; background-color:blue; }
.bgblack {font-weight:vold font-size:small; color:black; background-color:black; }
.bgbrown {font-weight:vold font-size:small; color:brown; background-color:brown; }
.bgindig {font-weight:vold font-size:small; color:indigo; background-color:indigo; }
.bgpurpl {font-weight:vold font-size:small; color:purple; background-color:purple; }
.bgdarks {font-weight:vold font-size:small; color:darkslategray; background-color:darkslategray; } 

